.container {
    max-width: 1820px;
    margin: 0 auto;
}

.topsection {
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.search input {
    background-color: transparent;
    border: 1px solid red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    height: 40px;
}

.search input::placeholder {
    color: white;
}

.filterContainer {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-bottom: 20px;
}

.filterContainer button {
    background-color: #ff4343;
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.filterContainer button:hover {
    background-color: #e20000;
}

.filterContainer button:focus {
    background-color: #e20000;
    outline: 1px solid white;
}

@media (0 < width < 600px) {
    .topsection {
        flex-direction: column;
        height: 120px;
    }

    .search input {
        width: 300px;
    }
}